/* 人機互動 hw1 1071532 */

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    background-image: url('pageBackground.jpg');
    background-color: moccasin;
    background-attachment: fixed;
    background-size: auto 100%;
}

header {
    position: relative;
    height: 100px;
}

#yzuLogo {
    position: absolute;
    height: 90px;
    left: 2%;
    cursor: pointer;
}

#caption {
    text-shadow: 3px 2px 5px rgb(97, 155, 212);
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

footer p {
    text-align: right;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: large;
    color: cornflowerblue;
    margin: 0px;
}

main {
    position: relative;
    height: 75%;
}

ul {
    position: absolute;
    margin: 0px;
    width: 30%;
    height: 100%;
}

li {
    list-style-type: none;
    font-size: 30px;
    padding-top: 40px;
}

#people {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 15%;
    height: 90%;
}

#state {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: dodgerBlue;
}

#peopleIMG {
    position: absolute;
    top: 20%;
    width: 100%;
}

#pic_sec {
    position: absolute;
    right: 2%;
    width: 45%;
    height: 100%;
}

#pic {
    position: absolute;
    top: 15%;
    right: 5%;
    height: 70%;
}
